<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotcomm.community.system.mapper.CommunityMapper">

	<resultMap type="CommunityUM" id="CommunityMap">
		<id column="id" property="cid"  />
		<result column="doordu_depId" property="doorduDepId" />
		<result column="code" property="code" />
		<result column="province_no" property="provinceNo" />
		<result column="provice_name" property="proviceName" />
		<result column="city_no" property="cityNo" />
		<result column="city_name" property="cityName" />
		<result column="region_no" property="regionNo" />
		<result column="region_name" property="regionName" />
		<result column="street_no" property="streetNo" />
		<result column="street_name" property="streetName" />
		<result column="village_no" property="villageNo" />
		<result column="village_name" property="villageName" />
		<result column="name" property="cname" />
		<result column="detail_address" property="caddress" />
		<result column="lon" property="lon" />
		<result column="link_user" property="linkUser" />
		<result column="link_phone" property="linkPhone" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="update_user" property="updateUser" />
		<result column="database_no" property="databaseNo" />
		<result column="picture_url" property="pictureUrl" />
		<result column="outline_coords" property="outlineCoords" />
		<result column="doordu_depId" property="doorduDepId" />
	</resultMap>

	<update id="delCommunity" parameterType="com.hotcomm.community.common.bean.db.system.CommunityDM">
		UPDATE hk_community
		SET `NAME` = CONCAT(`NAME`, '@DEL', id), is_delete = #{isDelete}, update_time = #{updateTime}, update_user = #{updateUser}
		WHERE id = #{cid}
	</update>

	<update id="updateCommunity" parameterType="com.hotcomm.community.common.bean.db.system.CommunityDM">
		UPDATE hk_community
		SET code = #{code}, province_no = #{provinceNo}, city_no = #{cityNo}, region_no = #{regionNo}, 
			street_no = #{streetNo}, village_no = #{villageNo}, `NAME` = #{cname}, detail_address = #{caddress}, 
			lon = #{lon}, lat = #{lat}, link_user = #{linkUser}, link_phone = #{linkPhone}, 
			picture_url = #{pictureUrl}, outline_coords = #{outlineCoords}, 
			update_user = #{updateUser}, update_time = #{updateTime}
		WHERE id = #{cid}
	</update>

	<update id="updateCommunityDoorduDepId">
		UPDATE hk_community SET doordu_depId = #{doorduDepId} WHERE id = #{cid}
	</update>

	<select id="getCommunity" resultMap="CommunityMap">
		SELECT f1.*,
			(SELECT `name` FROM hk_area WHERE id = f1.`province_no`) provice_name,
			(SELECT `name` FROM hk_area WHERE id = f1.`city_no`) city_name,
			(SELECT `name` FROM hk_area WHERE id = f1.`region_no`) region_name,
			(SELECT `name` FROM hk_area WHERE id = f1.`street_no`) street_name,
			(SELECT `name` FROM hk_area WHERE id = f1.`village_no`) village_name
		FROM hk_community f1 WHERE f1.id = #{cid}
	</select>

	<select id="queryListCommunityAll" resultType="com.hotcomm.community.common.bean.ui.system.CommunityListAllUM">
		SELECT v1.id cid, v1.`NAME` cname, v1.`doordu_depId` doorduDepId FROM hk_community v1 WHERE v1.is_delete = 1
	</select>

	<select id="queryListCommunityByUserId" parameterType="java.lang.Integer" resultType="com.hotcomm.community.common.bean.ui.system.CommunityListUM">
		SELECT v1.community_id cid, v1.is_default isDefault, v2.`NAME` cname
		FROM hk_community_user v1
		INNER JOIN hk_community v2 ON v1.community_id = v2.id
		WHERE v1.user_id = #{userId} AND v2.is_delete = 1
	</select>

	<select id="queryListCommunityDetail" parameterType="java.lang.Integer" resultType="com.hotcomm.community.common.bean.ui.system.CommunityDetailListUM">
		SELECT v1.community_id cid, v1.is_default isDefault, v2.`NAME` cname,
			(SELECT `name` FROM hk_area WHERE id = v2.`province_no`) proviceName,
			(SELECT `name` FROM hk_area WHERE id = v2.`city_no`) cityName,
			(SELECT `name` FROM hk_area WHERE id = v2.`region_no`) regionName,
			(SELECT `name` FROM hk_area WHERE id = v2.`street_no`) streetName,
			(SELECT `name` FROM hk_area WHERE id = v2.`village_no`) villageName,
			v2.picture_url pictureUrl, v2.outline_coords outlineCoords, v2.detail_address caddress, v2.lon, v2.lat
		FROM hk_community_user v1
		INNER JOIN hk_community v2 ON v1.community_id = v2.id
		WHERE v1.user_id = #{userId} AND v2.is_delete = 1
	</select>

	<select id="queryListCommunityDetailAll" resultType="com.hotcomm.community.common.bean.ui.system.CommunityDetailListUM">
		SELECT v1.id cid, 1 isDefault, v1.`NAME` cname,
			(SELECT `name` FROM hk_area WHERE id = v1.`province_no`) proviceName,
			(SELECT `name` FROM hk_area WHERE id = v1.`city_no`) cityName,
			(SELECT `name` FROM hk_area WHERE id = v1.`region_no`) regionName,
			(SELECT `name` FROM hk_area WHERE id = v1.`street_no`) streetName,
			(SELECT `name` FROM hk_area WHERE id = v1.`village_no`) villageName,
			v1.picture_url pictureUrl, v1.outline_coords outlineCoords, v1.detail_address caddress, v1.lon, v1.lat
		FROM hk_community v1
		WHERE v1.is_delete = 1
	</select>

	<sql id="communityPageQuery">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="params.cname != null and params.cname != ''">
				AND v1.`NAME` LIKE CONCAT('%', #{params.cname},'%')
			</if>
			AND v1.is_delete = 1
		</trim>
	</sql>

    <select id="queryPageCommunity" resultType="com.hotcomm.community.common.bean.ui.system.CommunityUM">
        SELECT v1.id cid, v1.code, v1.`NAME` cname, v1.detail_address caddress, v1.lon, v1.lat, v1.link_user linkUser, v1.link_phone linkPhone, 
            v1.create_user createUser, v1.create_time createTime, v1.update_user updateUser, v1.update_time updateTime, v1.picture_url pictureUrl,
            (SELECT `name` FROM hk_area WHERE id = v1.`province_no`) proviceName,
            (SELECT `name` FROM hk_area WHERE id = v1.`city_no`) cityName,
            (SELECT `name` FROM hk_area WHERE id = v1.`region_no`) regionName,
            (SELECT `name` FROM hk_area WHERE id = v1.`street_no`) streetName,
            (SELECT `name` FROM hk_area WHERE id = v1.`village_no`) villageName
        FROM hk_community v1
        <include refid="communityPageQuery"/>
        ORDER BY v1.create_time DESC
        LIMIT #{params.startIndex}, #{params.endIndex}
    </select>

	<select id="queryPageCommunityCount" resultType="java.lang.Long">
		SELECT COUNT(1) FROM hk_community v1
		<include refid="communityPageQuery"/>
	</select>

	<select id="queryUserList" resultType="com.hotcomm.community.common.bean.ui.system.UserListUM">
		SELECT v1.user_id userId, v1.real_name userName
		FROM hk_sys_user v1
		INNER JOIN hk_community_user v2 ON v1.user_id = v2.user_id
		<if test="roleId != null and roleId != ''">
			INNER JOIN hk_sys_user_role v3 ON v1.user_id = v3.user_id
		</if>
		<where>
			v2.community_id = #{cid}
			<if test="roleId != null and roleId != ''">
				AND v3.role_id IN (${roleId})
			</if>
			AND v1.status = 1 AND v1.is_delete = 1
		</where>
	</select>

	<select id="isCnameUsed" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT 1 FROM hk_community v1 WHERE v1.`NAME` = #{cname}
	</select>

	<select id="isCodeUsed" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT 1 FROM hk_community v1 WHERE v1.code = #{code}
	</select>

	<insert id="addUserCommunity">
		INSERT INTO hk_community_user(user_id, community_id) VALUES
		<foreach collection="cids" item="cid" index="index" separator=",">
			(#{userId}, #{cid})
		</foreach>
	</insert>

	<delete id="delUserCommunity" parameterType="java.lang.Integer">
		DELETE FROM hk_community_user WHERE user_id = #{userId}
	</delete>

	<select id="getUserCommunity" parameterType="java.lang.Integer" resultType="java.lang.String">
		SELECT IFNULL(GROUP_CONCAT(community_id SEPARATOR ','), '') communityIds FROM hk_community_user WHERE user_id = #{userId}
	</select>

	<update id="setUserCommunityDefaultCid" parameterType="java.lang.Integer">
		UPDATE hk_community_user SET is_default = 2 WHERE user_id = #{userId} AND community_id = #{defaultCid}
	</update>

</mapper>