<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	
	<property name="log.home.path"  value="/logs/hotcomm/community"/>
	<property name="consolePath" value="${log.home.path}/console" />
	<property name="infoPath" value="${log.home.path}/service" />
	<property name="errorPath" value="${log.home.path}/error" />	
	<property name="logLevel" value="debug" />	
	
	
	<!-- 控制台日志输入 -->
	<appender name="console_sdtout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="console_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${consolePath}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${consolePath}.%d{yyyy-MM-dd} -- %i.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
		<pattern>%d %p [%t] [%F:%L] %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 业务正常日志 -->
	<appender name="service_info_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${infoPath}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${infoPath}.%d{yyyy-MM-dd}-- %i.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
		<pattern>%d %p [%t] [%F:%L] %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 业务ERROR日志 -->
	<appender name="service_error_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${errorPath}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${errorPath}.%d{yyyy-MM-dd}-- %i.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d %p [%t] [%F:%L] %msg%n</pattern>
		</encoder>
	</appender>
	
	
	<logger level="info" additivity="false"  name="infoLogger"  >
		<appender-ref ref="service_info_file" />
		<appender-ref ref="console_sdtout" />	
	</logger>
	
	<logger level="error" additivity="false"  name="errorLogger"  >
	    <appender-ref ref="console_sdtout" />
		<appender-ref ref="service_error_file" />
	</logger>
	
	<root level="info"  >
		<appender-ref ref="console_sdtout" />
		<appender-ref ref="console_file" />
	</root>
	
	<logger name="com.hotcomm.community.system.mapper" level="${logLevel}"/>
	<logger name="com.hotcomm.community.person.mapper" level="${logLevel}" additivity="false">
		<appender-ref ref="console_sdtout" />
	</logger>
	<logger name="com.hotcomm.community.device.mapper" level="${logLevel}"/>
	<logger name="com.hotcomm.community.house.mapper" level="${logLevel}" additivity="false">
		<appender-ref ref="console_sdtout" />
	</logger>
	<logger name="com.hotcomm.community.process.mapper" level="${logLevel}"/>
	<logger name="com.hotcomm.community.car.mapper" level="${logLevel}"/>
	<logger name="com.hotcomm.community.corporation.mapper" level="${logLevel}"/>
</configuration>
