<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotcomm.community.device.mapper.DeviceFellMapper">

	<select id="DeviceMsgCount" resultType="com.hotcomm.community.common.bean.ui.device.fell.DeviceMsgCountUM">
		SELECT m.id moduleId ,m.`module_name` moduleName, COUNT(d.id) devNum
		FROM ${tableParams.base_dbname}.`hk_device_module` m
		LEFT JOIN ${tableParams.dynamic_dbname}.`hk_device` d ON d.`module_id` = m.id and d.`is_enble` = 1 
		<if test="useType==1"> AND d.use_type = ${useType}</if>
		WHERE m.`is_enble` = 1 AND m.id != 5
		GROUP BY m.id
	</select>

	<select id="DeviceTodayDataMsg" resultType="com.hotcomm.community.common.bean.ui.device.fell.DeviceTodayDataMsgUM">
		SELECT m.`module_name` moduleName,
	    COUNT(CASE WHEN DATE_FORMAT(d.`lastdata_time`,'%Y-%m-%d') != DATE_FORMAT(NOW(),'%Y-%m-%d') OR d.`lastdata_time` IS NULL THEN d.id END) offLine ,
	    COUNT(CASE WHEN DATE_FORMAT(d.`lastdata_time`,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d') THEN d.id END) normal
		FROM ${tableParams.base_dbname}.`hk_device_module` m 
		LEFT JOIN ${tableParams.dynamic_dbname}.`hk_device` d ON d.`module_id` = m.id AND d.`is_enble` = 1 
		WHERE m.`is_enble` = 1 AND m.id != 5
	    GROUP BY m.id
	</select>

	<select id="DeviceStateMsg" resultType="com.hotcomm.community.common.bean.ui.device.fell.DeviceStateMsgUM">
		SELECT COUNT(CASE WHEN `state` = 0 OR `state` = 3 THEN id END) normal ,
			COUNT(CASE WHEN `state` = 1 THEN id END) offLine ,
			COUNT(CASE WHEN `state` = 2 THEN id END) fault
		FROM ${tableParams.dynamic_dbname}.`hk_device`
		WHERE `is_enble` = 1
	</select>

	<select id="DeviceThisWeekAlarmNum" resultType="java.lang.Integer">
		SELECT COUNT(a.id)
		FROM ${tableParams.dynamic_dbname}.`hk_alarm` a
		<if test="use_type==1"> 
		LEFT JOIN ${tableParams.dynamic_dbname}.`hk_device` d ON d.`mac` = a.`alarm_source` AND d.`use_type` = ${use_type}
		LEFT JOIN hotcomm_community.`hk_device_type` ty ON ty.`use_id` = d.`use_type`
		</if>
		WHERE a.alarm_type = 1 AND YEARWEEK(
		    DATE_FORMAT(`create_time`, '%Y-%m-%d')
		  ) = YEARWEEK(NOW())
		  <if test="use_type==1"> AND a.`alarm_source_type` = ty.`alarm_id`</if>
	</select>
	
	<select id="DeviceThisWeekAlarm" resultType="com.hotcomm.community.common.bean.ui.device.fell.DeviceThisWeekAlarmUM">
		SELECT a.id , m.id moduleId, m.`module_name` moduleName,
			CONCAT(IFNULL(hb.`building_name`,''),IFNULL(hu.`unit_name`,''),IFNULL(hf.`floor_name`,''),IFNULL(d.`dev_address`,'')) devAddress ,
			s.`level` `level` , s.`state_name` stateName
		FROM ${tableParams.dynamic_dbname}.`hk_alarm` a
		LEFT JOIN ${tableParams.base_dbname}.`hk_device_module` m ON m.`id` = a.`module_id`
		LEFT JOIN ${tableParams.dynamic_dbname}.`hk_device` d ON d.`mac` = a.`alarm_source` <if test="use_type==1"> AND d.`use_type` = ${use_type}</if>
		LEFT JOIN ${tableParams.dynamic_dbname}.`hk_building` hb ON hb.id = d.`building_num`
		LEFT JOIN ${tableParams.dynamic_dbname}.`hk_unit` hu ON hu.id = d.`unit_num`
		LEFT JOIN ${tableParams.dynamic_dbname}.`hk_floors` hf ON hf.id = d.`floor_num`
		LEFT JOIN ${tableParams.base_dbname}.`hk_alarm_state` s ON s.id = a.`alarm_source_type`
		<if test="use_type==1">LEFT JOIN ${tableParams.base_dbname}.`hk_device_type` ty ON ty.`use_id` = d.`use_type`</if>
		WHERE a.alarm_type = 1 AND YEARWEEK(
		    DATE_FORMAT(a.`create_time`, '%Y-%m-%d')
		  ) = YEARWEEK(NOW())
		  <if test="use_type==1"> AND a.`alarm_source_type` = ty.`alarm_id`</if>
		ORDER BY a.`create_time` DESC
		LIMIT 50
	</select>
	
	<select id="DeviceMap" resultType="com.hotcomm.community.common.bean.ui.device.fell.DeviceMapUM">
		SELECT d.`id` , d.dev_type devType , d.dev_num devNum , d.mac mac , d.install_time installTime, 
		CONCAT(IFNULL(hb.`building_name`,''),IFNULL(hu.`unit_name`,''),IFNULL(hf.`floor_name`,''),IFNULL(d.`dev_address`,'')) devAddress ,
		d.`lat` , d.`lon` , d.`module_id` moduleId, d.`state` , m.`module_name` moduleName ,
		u.real_name userName , u.telephone telephone
		FROM ${tableParams.dynamic_dbname}.`hk_device` d
		LEFT JOIN ${tableParams.base_dbname}.`hk_device_module` m ON m.id = d.`module_id`
		LEFT JOIN ${tableParams.dynamic_dbname}.`hk_building` hb ON hb.id = d.`building_num`
		LEFT JOIN ${tableParams.dynamic_dbname}.`hk_unit` hu ON hu.id = d.`unit_num`
		LEFT JOIN ${tableParams.dynamic_dbname}.`hk_floors` hf ON hf.id = d.`floor_num`
		LEFT JOIN ${tableParams.base_dbname}.`hk_sys_user` u ON u.`user_id` = d.`own_id`
		WHERE d.`is_enble` = 1 
		<if test="list != null and list.size() > 0">
			AND d.`module_id` IN 
			<foreach collection="list" index="index" item="item" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="use_type==1"> AND d.`use_type` = ${use_type}</if>
	</select>
	
	<select id="DeviceMsgCountOnVideo" resultType="java.lang.Integer">
		SELECT COUNT(id)
		FROM ${tableParams.dynamic_dbname}.`hk_device_video`
		WHERE `is_enble` = 1
	</select>
	
	<select id="DeviceMapOnVideo" resultType="com.hotcomm.community.common.bean.ui.device.fell.DeviceMapUM">
		SELECT d.id,d.lat,d.lon
		, d.dev_type devType , d.dev_num devNum , d.mac mac , d.install_time installTime, 
		CONCAT(IFNULL(hb.`building_name`,''),IFNULL(hu.`unit_name`,''),IFNULL(hf.`floor_name`,''),IFNULL(d.`dev_address`,'')) devAddress
		FROM ${tableParams.dynamic_dbname}.`hk_device_video` d
		LEFT JOIN ${tableParams.dynamic_dbname}.`hk_building` hb ON hb.id = d.`building_num`
		LEFT JOIN ${tableParams.dynamic_dbname}.`hk_unit` hu ON hu.id = d.`unit_num`
		LEFT JOIN ${tableParams.dynamic_dbname}.`hk_floors` hf ON hf.id = d.`floor_num`
		WHERE d.`is_enble` = 1 
		<if test="devType != null">AND d.`dev_type` = ${devType}</if>
	</select>
	
	<select id="selectDeviceAllState" resultType="com.hotcomm.community.common.bean.ui.device.fell.SelectDeviceAllStateUM">
		SELECT m.module_name , 
		COUNT(d.id) `all` , 
		COUNT(CASE WHEN d.state = 0 THEN d.id END ) normal , 
		COUNT(CASE WHEN d.state = 1 THEN d.id END ) offLine , 
		COUNT(CASE WHEN d.state = 2 THEN d.id END ) breakdown , 
		COUNT(CASE WHEN d.state = 3 THEN d.id END ) alarm
		FROM ${tableParams.base_dbname}.`hk_device_module` m 
		LEFT JOIN ${tableParams.dynamic_dbname}.hk_device d ON d.`is_enble` = 1 AND d.`module_id` = m.id
		WHERE m.is_enble = 1 <if test="moduleId != null"> AND m.id = ${moduleId}</if>
		GROUP BY m.id 
	</select>
</mapper>